
/*--------------------------------------------------------------------------
Basic
----------------------------------------------------------------------------*/
body {
    margin: 60px auto;
    flex: 1;
    justify-content: space-between;
    background-color: #fefefe;
    font-size: 20px;
}
h1 {
    font-size: 40px;
    font-family: 'Comic Sans MS', 'cursive', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-family: 'Comic Sans MS', 'cursive', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}

h3 {
	font-size: 32px;
	font-family: 'Comic Sans MS', 'cursive', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}

h4 {
	font-size: 28px;
	font-family: 'Comic Sans MS', 'cursive', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}

h5 {
	font-size: 24px;
	font-family: 'Comic Sans MS', 'cursive', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
 }
    
p {
    font-size: 20px;
    line-height: 26px;
    color: #333;
    font-family: 'Cursive', 'Verdana';
    text-align: justify;
    text-justify: inter-ideograph;
}

ul, li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
}

.site-footer {
    color: DarkStateGray;
    border-top: 4px solid #d5d5d5;
    font-size: 14px;
    margin-top: 50px;
}

nav{
	text-align: center;
	margin-bottom: 40px;
}

nav ul li, .site-footer ul li {
	display: inline;
    	margin-right: 30px;
    	list-style: none;
}

.nav-cur-path {
	font-size: bold;
	background-color: #D1EE93;
	padding: 8px 8px 8px 8px;
	border-bottom: 1px solid #9D98A2;
	border-radius: 5px 5px 5px 5px;
}



nav ul li {
    font-size: 24px;
}

nav a {
	text-decoration: none;
	color: #222222;
}

p a, .site-footer a {
    text-decoration: none;
    color: #666;
}
a:hover {
    background-color: #E8F0F5;
    color: black;
}

.site-avator {
	margin: 10px auto;
	width: 120px;
	height: 120px;

	border-radius: 60px;
	background: url("/image/tree.png") no-repeat;
	background-size: 100% autho;
	background-position: center auto;
}

.menu {
	display: block;
	font-size: 20px;
	margin-top: 20px;
	margin-right: 10px;
	padding: 0 10px;
	padding-left: 10px;
}

.menu a {
	text-decoration: none;
	color: #666;
}

.menu .current-path a{
	margin-left: -12px;
	padding-left: 8px;
	border-left: 6px solid #d9534f;
}

.menu ul li {
	list-style: none;
}

.entry-title {
	margin: 0 0 20px;
	padding: 10px 0 10px 12px;
	font-weight: bold;
	border-left: 16px solid #0594c4;
	background-color: #f9f9f9;
}
.home {
	width: 70%;
}

.entry-footer {
	border-top: none;
	border-bottom: 1px dashed #000;
	padding-bottom: 8px;
	margin-bottom: 50px;
	font-size: 18px;
}
.entry-footer a {
	text-decoration: none;
}

.entry-meta {
	font-size: 18px;
}

.entry-meta .cats,
.entry-meta .tags {
	margin-left: 20px;
}

.entry-meta .date {
	color: #333;
}

.entry-meta .tags a,
.entry-info .tags a {
	display: inline-block;
	padding: 0px 4px;
	margin: 0 4px;
	color: #fff;
	background-color: #777;
}

.entry-link {
	text-decoration: none;
	color: #0BCBD7;
}
.yarpp-related {
}

.yarpp-related h6 {
	border-left: 10px solid #777777;
	padding: 10px 0 10px 14px;
	background-color: #f7f7f7;
	font-size: 20px;
	font-weight: bold;
}

.yarpp-related ol {
	padding: 0;
	margin: 0;
}

.yarpp-related .fa {
	color: #BCBCBC;
	margin-right: 10px;
}

