
/*--------------------------------------------------------------------------
Basic
----------------------------------------------------------------------------*/
body {
    margin: 60px auto;
    width: 86%;
    flex: 1;
    justify-content: space-between;
    background-color: #fefefe;
    font-size: 20px;
}
h1 {
    font-size: 42px;
    font-family: 'Comic Sans MS', 'cursive', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-family: 'Comic Sans MS', 'cursive', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}

h3 {
	font-size: 30px;
	font-family: 'Comic Sans MS', 'cursive', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}

h4 {
	font-size: 24px;
	font-family: 'Comic Sans MS', 'cursive', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}

h5 {
	font-size: 18px;
	font-family: 'Comic Sans MS', 'cursive', 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
 }
    
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    font-family: 'Cursive', 'Verdana';
}

ul, li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
}

footer {
    color: DarkStateGray;
    border-top: 10px solid #d5d5d5;
    font-size: 18px;
}
nav{
	text-align: center;
}

nav ul li, footer ul li {
	display: inline;
    margin-right: 20px;
    padding: 10px 10px;
    list-style: none;
}

nav ul li {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #666;
}
a:hover {
    background-color: #E8F0F5;
}

.menu {
	display: block;
	font-size: 24px;
	margin-top: 40px;
	margin-right: 20px;
	padding: 0 10px;
}

.menu ul, li {
	list-style: none;
}

